@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

.card-img {
    width: 450px;
    object-fit: fill;
    object-position: center;
    border: 1px solid black;
}

.nav-bar, .sign-up-card, .footer {
    background-color: #1F2937;
}

.nav-bar, .sign-up-card, .quote-card {
    padding: 4px 200px;
}

.sign-up-head {
    padding: 20px;
}

.sign-up-btn {
    margin: 0%;
    padding: 8px 16px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #3882F6;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
}

.sign-up-card {
    display: flex;
    padding-top: 90px;
    padding-bottom: 80px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.nav-list, .sign-up-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.sign-up-head {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

p {
    padding: 0%;
    margin: 0%;
}

.random-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 430px;
}

.animal-images {
    display: flex;
    gap: 60px;
    flex-grow: 3;

}

.random-heading {
    padding-top: 32px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
    flex-grow: 1;
}

.animal-content {
    width: 140px;
    text-align: center;
    color: darkslategray;
}

.animal-image {
    padding: 8px;
    width: 128px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.quote-card {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
}

.quote-text {
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
    word-wrap: break-word;
}

.signature {
    font-weight: bold;
    font-size: 25px;
    align-self: flex-end;
}

.action-card {
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-card {
    background-color: #3882F6;
    height: 22px;
    width: 644px;
    border-radius: 10px;
    padding: 64px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

.action-heading {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.action-text {
    font-size: medium;
    color: #F9FAF8;
}

.secondary-btn {
    border-color: white;
}

.footer {
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
